#VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
#VITE_BACKEND_BASE_URL=http://127.0.0.1:8000
#VITE_UPLOADS_BASE_URL=http://127.0.0.1:8000/uploads
#VITE_APP_NAME=Bishkek Parking AI
# Замените полные адреса на пустые значения или относительные пути
VITE_API_BASE_URL=/api/v1
VITE_BACKEND_BASE_URL=
VITE_UPLOADS_BASE_URL=/uploads
VITE_APP_NAME=Bishkek Parking AI