# =========================
# APP
# =========================
APP_NAME=Bishkek Parking AI
APP_ENV=local
DEBUG=True
API_V1_PREFIX=/api/v1

# =========================
# SERVER
# =========================
HOST=127.0.0.1
PORT=8000

# =========================
# DATABASE
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bishkek_parking_ai
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

DATABASE_URL=postgresql+asyncpg://postgres:123@localhost:5432/bishkek_parking_ai
SYNC_DATABASE_URL=postgresql://postgres:123@localhost:5432/bishkek_parking_ai

# =========================
# JWT
# =========================
SECRET_KEY=change_this_secret_key_for_local_development
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# =========================
# CORS
# =========================
BACKEND_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:8001,http://localhost:8001

# =========================
# LOCAL FILES
# =========================
UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE_MB=10
ALLOWED_UPLOAD_EXTENSIONS=.jpg,.jpeg,.png,.webp,.pdf,.doc,.docx

# =========================
# LOGGING
# =========================
LOG_DIR=logs
LOG_FILE=app.log
LOG_LEVEL=INFO
LOG_MAX_BYTES=5242880
LOG_BACKUP_COUNT=5

# =========================
# SEED ADMIN
# =========================
SEED_ADMIN_FULL_NAME=Администратор
SEED_ADMIN_EMAIL=administrator@example.com
SEED_ADMIN_PHONE=+996555123456
SEED_ADMIN_LOGIN=administrator
SEED_ADMIN_PASSWORD=admin123
SEED_ADMIN_LANGUAGE=ru